<li class="list-group-item d-flex justify-content-between feastday-item-calendar" feastday-date="{{ feastday.date }}">
    <p class="m-auto">{{ feastday.date }}</p>
    <a class="btn btn-link feastday-delete-btn my-auto">
        <span class="oi oi-circle-x" title="Delete feast day in Calendar" aria-hidden="true"></span>
    </a>
</li>