<li class="list-group-item d-flex justify-content-between feastday-item-calendar" feastday-date="{{ feastday }}">
    <p class="m-auto">{{ feastday }}</p>
    <a class="btn btn-link feastday--delete feastday-delete-btn my-auto">
        <span class="oi oi-circle-x feastday--delete" title="Delete feast day in Calendar" aria-hidden="true"></span>
    </a>
</li>