<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        {% block head_css %}
    <!-- Copy CSS from https://getbootstrap.com/docs/4.4/getting-started/introduction/#css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        {% endblock %}
        {% block stylesheets %}
            <link rel="stylesheet" href="/assets/css/style.css" />
        {% endblock %}
    </head>
    <body class="container">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #4f97e3;">
            <a class="navbar-brand text-white" href="#">Vacaciones TFM</a>
            
        {% if app.user %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="#" id="espacio-trabajo">Espacio de trabajo</a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="gestion-calendarios" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Gestión de calendarios
                        </a>
                        <div class="dropdown-menu" aria-labelledby="gestion-calendarios">
                            <a class="dropdown-item" href="#" id="crear-calendario">Crear Calendario</a>
                            <a class="dropdown-item" href="#" id="editar-calendario">Editar Calendario</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="gestion-usuarios" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Gestión de usuarios
                        </a>
                        <div class="dropdown-menu" aria-labelledby="gestion-usuarios">
                            <a class="dropdown-item" href="#" id="alta-usuario">Dar alta a un usuario</a>
                            <a class="dropdown-item" href="#" id="editar-usuario">Editar/Baja a un usuario</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="gestion-usuarios" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Supervisar Empleados
                        </a>
                        <div class="dropdown-menu" aria-labelledby="gestion-usuarios">
                            <a class="dropdown-item" href="#" id="notificaciones">Leer Notificaciones</a>
                            <a class="dropdown-item" href="#" id="buscador-empleados-vacaciones">Revisar días de vacaciones por usuario</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="gestion-usuarios" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Gestión Empresa
                        </a>
                        <div class="dropdown-menu" aria-labelledby="gestion-usuarios">
                            <a class="dropdown-item" href="#" id="alta-empresa-btn">Alta empresa</a>
                            <a class="dropdown-item" href="#" id="editar-baja-empresa-btn">Editar empresa</a>
                        </div>
                    </li>

                </ul>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown-A" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        L. Lawliet
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown-A">
                        <a class="dropdown-item" href="#" id="perfil-usuario">Perfil</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('app_logout') }}" id="salir-btn">Salir</a>
                    </div>
                </div>
            </div>

        {% endif %}
        </nav>

        <section class="container" id="main-container">
            {% block main_dashboard %}

            {% endblock %}
        </section>     

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
            {# js files, here! #}
            <script src="assets/js/prova.js"></script>
        {% endblock %}

        {% block head_js %}
    <!-- Copy JavaScript from https://getbootstrap.com/docs/4.4/getting-started/introduction/#js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
