{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Calendar{% endblock %}
{% block stylesheets %} 
    {{ parent() }} 
    
{% endblock %}

{% block main_dashboard %}
    <div class="p-3 mb-3 bg-light rounded">
        <h3 class="title-block-workspace center-title">Create calendar</h3>
    </div>

    <div>{# ? CREATE CALENDAR VIEW #}
        
        <form>

            <div class="section-create-calendar-form">
                <h5 class="font-weight-bold">Configuración del año laboral</h5>
                <div class="form-row">
                    <div class="form-group col-md-12 col-xl-6">
                        <label for="working-year">Año laboral:</label>
                    </div>
                    <div class="form-group col-md-12 col-xl-6">
                        <input type="number" id="working-year" class="form-control" name="working-year"  min="2019" max="2080">
                    </div>
                </div>
            </div>

            <div class="section-create-calendar-form">
                <h5 class="font-weight-bold">Configuración del rango para pedir vacaciones</h5>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="start">Inicio de petición de vacaciones:</label>
                        <input type="date" id="start" class="form-control" name="trip-start" value="2020-01-01" min="2020-01-01" max="2020-12-31">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="end">Fin de petición de vacaciones:</label>
                        <input type="date" id="end" class="form-control" name="trip-start" value="2020-12-31">
                    </div>
                </div>
            </div>

            <div class="section-create-calendar-form">
                <h5 class="font-weight-bold">Añadir la cantidad días según el tipo de "day-off"</h5>
                <div class="form-row">
                    <div class="form-group col-md-8 col-xl-4">
                        <label for="exampleFormControlSelect1">Tipos de "day off"</label>
                        <select class="form-control" id="type-day-off-select">
                            <option value="code-holiday">Días de Vacaciones</option>
                            <option value="code-personal-day">Días Personales</option>
                            <option value="code-others">Otros</option>
                        </select>
                    </div>

                    <div class="form-group col-md-6 col-xl-2">
                        <label for="example-number-input">Número de días</label>
                        <div class="row container">
                            <div class="col-12">
                                <input class="form-control" type="number" value="20" id="example-number-input">
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-6 col-xl-2">
                        <label for="example-number-input">Add days</label>
                        <div class="row container">
                            <div class="col-12">
                                <a type="button" class="btn btn-outline-success">
                                    <span class="oi oi-plus" title="Add days" aria-hidden="true"></span>
                                </a>                            
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-12 col-xl-4">
                        <label >Cantidad de días según el tipo de "day-off"</label>
                        <div class="card-body p-0">
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between">
                                    <p class="m-auto">20 días vacaciones</p>
                                    <a class="btn btn-link" href="#">
                                        <span class="oi oi-circle-x" title="delete quantity days selected" aria-hidden="true"></span>
                                    </a>
                                </li>
                                <li class="list-group-item d-flex justify-content-between">
                                    <p class="m-auto">2 días personales</p>
                                    <a class="btn btn-link" href="#">
                                        <span class="oi oi-circle-x" title="delete quantity days selected" aria-hidden="true"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

            <div class="section-create-calendar-form">
                <h5 class="font-weight-bold">Escoger los días laborables</h5>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label >Seleccionar días laborable</label>
                    </div>
                    <div class="form-group col-md-4">
                        <select multiple class="form-control" height="150">
                            <option>Lunes</option>
                            <option>Martes</option>
                            <option>Miercoles</option>
                            <option>Jueves</option>
                            <option>Viernes</option>
                            <option>Sabado</option>
                            <option>Domingo</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="section-create-calendar-form">
                <h5 class="font-weight-bold">Añadir los días festivos del año laboral</h5>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Seleccionar los días festivos del calendario</label>
                        <div>
                            <div id="carouselExampleControls" class="carousel slide workspace-calendar" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img class="d-block w-100" src="http://placehold.it/700x400" alt="First slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="http://placehold.it/700x400" alt="Second slide">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="http://placehold.it/700x400" alt="Third slide">
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                                   data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                                   data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
        
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Días festivos seleccionados</label>
                        <div class="card-body contenedor-dias-vacaciones-seleccionados">
                            <ul class="list-group">
                                <li class="list-group-item">2020-05-01</li>
                                <li class="list-group-item">2020-05-02</li>
                                <li class="list-group-item">2020-05-03</li>
                                <li class="list-group-item">2020-05-04</li>
                                <li class="list-group-item">2020-05-05</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section-create-calendar-form">
                <div class="form-row">
                    <div class="form-group col-md-12 d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">Crear Calendario</button>
                    </div>
                </div>
            </div>

        </form>

    </div>{# ? CREATE CALENDAR VIEW END #}
    
{% endblock %}

{% block head_js %}
    {{ parent() }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# <script src="/../assets/js/CompanyModule/companyModel.js"></script>
    <script src="/../assets/js/CompanyModule/companyController.js"></script> #}

    <script src="/../assets/js/CalendarModule/calendarController.js"></script>
    

{% endblock %}
